
.qx-container {
    padding: 16px;
    margin: 30px auto;
    margin-bottom: 16px;
    max-width: 800px;
  }
    
  :host {
    font-family: Roboto;
  }
  
  .qx-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .qx-radio-button {
    margin: 5px;
  }