@use '@angular/material' as mat;
/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";

@import './variables.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@for $i from 0 through 24 {
    .mat-mdc-card.mat-elevation-z#{$i} {
        @include mat.elevation($i);
    }
}

.me-1 {
    margin-right: 2.5px;
}

.me-2 {
    margin-right: 5px;
}

.me-3 {
    margin-right: 7.5px;
}

.me-4 {
    margin-right: 10px;
}
